body.nav-menus-php .menu-item-bar .menu-item-handle {
    min-height: 35px;
}
body.nav-menus-php .menu-item.hide {
	display: none !important;
}


body.nav-menus-php #menu-settings-column {
    position: -webkit-sticky;
    position: sticky;
    height: 90vh;
    top: 50px;	
}
body.nav-menus-php #menu-settings-column form#nav-menu-meta {
	overflow: auto;
    max-height: 90vh;
}
body.nav-menus-php #menu-settings-column form#nav-menu-meta:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 115px;
    background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
    background-image: -moz-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
    background-image: -o-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
    background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
    background-image: -ms-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
}

body.nav-menus-php #menu-settings-column form#nav-menu-meta #side-sortables > ul > li.accordion-section:last-child {
	margin-bottom: 100px;
}

/* default styling */
body.nav-menus-php a.item-expand {
	position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 100px;
    outline: 0;
    cursor: pointer;
    border-left: 5px solid #e0bd96;
}

/* Gradient menu items color: */
body.nav-menus-php .menu-item-depth-0 a.item-expand { border-color: #2A4858; }
body.nav-menus-php .menu-item-depth-1 a.item-expand { border-color: #2a4858; }
body.nav-menus-php .menu-item-depth-2 a.item-expand { border-color: #215d6e; }
body.nav-menus-php .menu-item-depth-3 a.item-expand { border-color: #08737f; }
body.nav-menus-php .menu-item-depth-4 a.item-expand { border-color: #00898a; }
body.nav-menus-php .menu-item-depth-5 a.item-expand { border-color: #089f8f; }
body.nav-menus-php .menu-item-depth-6 a.item-expand { border-color: #39b48e; }
body.nav-menus-php .menu-item-depth-7 a.item-expand { border-color: #64c987; }
body.nav-menus-php .menu-item-depth-8 a.item-expand { border-color: #92dc7e; }
body.nav-menus-php .menu-item-depth-9 a.item-expand { border-color: #c4ec74; }
body.nav-menus-php .menu-item-depth-10 a.item-expand { border-color: #fafa6e; }

body.nav-menus-php a.item-expand.expanded {
	
}